@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
  }
  body {
    @apply bg-black text-white antialiased selection:bg-pink-500 selection:text-white;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .glass-button {
    @apply bg-white/20 hover:bg-white/30 active:bg-white/40 backdrop-blur-md border border-white/10 transition-all duration-300;
  }
}